html{
    height: 98%;
    width: 100%;
}

body{
    margin-left: 1%;
    margin-top: 40px;
    width: 98%;
    height: 100%;
    background-color: #f0f8ff;
}

header{
    position: fixed;
    width: 100%;
    z-index: 100;
}

h1{
    margin: -40px -1px -15px -20px;
    padding-top: 10px;
    height: 40px;
    text-align: center;
    background-color: blue;
    color: white;
}

h2{
    font-size: 20px;
}
